@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  /* Colors */
  /* Primary - text */
  --color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  /* Gradient - background */
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);
  /* Neutral - text */
  --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --color-light-grayish-blue: hsl(240, 5%, 91%);
}

img {
  max-width: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem;
  background-image: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-repeat: no-repeat;
  background-color: #6463e7;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card */
.wrapper {
  padding: 13rem 2.4rem 2.4rem;
}

@media screen and (min-width: 992px) {
  .wrapper {
    padding: 13rem 2.4rem 2.4rem 2.4rem;
    background-color: yellow;
  }
}

.card {
  position: relative;
  max-width: 32.7rem;
  background-color: #fff;
  border-radius: 2.3rem;
  padding: 2.4rem;
  /* box-shadow: 0 5rem 5rem -2rem rgba(53, 18, 122, 0.497159); */
}

@media screen and (min-width: 992px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 92rem;
  }
}

.card::before {
  content: url(./images/illustration-woman-online-mobile.svg);
  position: absolute;
  top: -10.5rem;
  left: 14%;
  right: 14%;
  max-width: 23.7rem;
}

.card::after {
  content: url(./images/bg-pattern-mobile.svg);
  position: absolute;
  top: 0;
  left: 14%;
  right: 14%;
  max-width: 23.7rem;
}

.card__title {
  margin-top: 10rem;
  font-size: 3.2rem;
  text-align: center;
  color: var(--color-very-dark-desaturated-blue);
}

/* FAQ list */
.accordion {
  list-style: none;
}

@media screen and (min-width: 992px) {
  .accordion {
    max-width: 50%;
  }
}

.accordion-item {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-light-grayish-blue);
}

.accordion-button {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  color: var(--color-very-dark-desaturated-blue);
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Kumbh Sans', sans-serif;
  transition: 0.2s ease-in-out;
}

.accordion-button::after {
  content: url(./images/icon-arrow-down.svg);
  position: absolute;
  top: 0.6rem;
  right: 0;
  transition: 0.2s ease-in-out;
}

.accordion-item_opened .accordion-button::after {
  transform: rotate(180deg);
}

.accordion-button:hover {
  color: var(--color-soft-red);
}

.accordion-item_opened .accordion-button {
  font-weight: bold;
}

.accordion-body {
  opacity: 0;
  max-height: 0;
  color: var(--color-dark-grayish-blue);
  max-width: 95%;
  line-height: 1.5;
  transition: 0.2s ease-in-out;
}

.accordion-item_opened .accordion-body {
  opacity: 1;
  max-height: max-content;
  margin-top: 1.2rem;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
}
.attribution__link {
  color: #fff;
}
