@use '../abstracts' as *;

.card {
  position: relative;
  max-width: 32.7rem;
  background-color: $clr-card-bg;
  border-radius: 2.3rem;
  padding: 2.4rem;
  box-shadow: 0 5rem 5rem -2rem rgba(53, 18, 122, 0.497159);

  @media (min-width: $breakpoint-lg) {
    display: flex;
    justify-content: space-between;
    width: 92rem;
    height: 50.9rem;

    max-width: 92rem;
    min-height: 50.9rem;
    margin-left: 4.5rem;
  }

  &__image {
    &-main {
      position: absolute;
      top: -10.5rem;
      left: calc(50% - (23.7rem / 2));
      background-image: url('./../images/illustration-woman-online-mobile.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 23.7rem;
      height: 18rem;
      z-index: 2;

      @media (min-width: $breakpoint-lg) {
        top: 7rem;
        left: -8.5rem;
        background-image: url('./../images/illustration-woman-online-desktop.svg');
        width: 47.2rem;
        height: 35.9rem;
        clip-path: polygon(
          8.5rem 0,
          47.2rem 0,
          47.2rem 35.9rem,
          8.5rem 35.9rem
        );
      }

      &-shadow {
        position: absolute;
        top: 0;
        left: calc(50% - (24rem / 2));
        background-image: url('./../images/bg-pattern-mobile.svg');
        background-size: auto;
        background-repeat: no-repeat;
        width: 24rem;
        height: 14.5rem;
        z-index: 1;

        @media (min-width: $breakpoint-lg) {
          background-image: url('./../images/bg-pattern-desktop.svg');
          width: 96.4rem;
          height: 94.4rem;
          top: calc(-16.5rem + -12.9rem);
          left: calc(-29.5rem + -28.1rem);
          clip-path: polygon(
            57.6rem 29.4rem,
            96.4rem 29.4rem,
            96.4rem 80rem,
            57.6rem 80rem
          );
        }
      }
    }

    &-box {
      display: none;

      @media (min-width: $breakpoint-lg) {
        display: block;
        position: absolute;
        top: 20.5rem;
        left: -9.3rem;
        background-image: url('./../images/illustration-box-desktop.svg');
        width: 19.1rem;
        height: 18.4rem;
        z-index: 3;
      }
    }
  }
}
