@use '../abstracts' as *;

.container {
  @media (min-width: $breakpoint-lg) {
    .desktop-mock {
      position: absolute;
      z-index: 10;
      width: 1440px;
      height: 768px;
      background-image: url('../images/desktop-design.jpg');
      background-repeat: no-repeat;
      opacity: 0.15;
    }
  }
}

.mobile-mock {
  position: absolute;
  z-index: 10;
  width: 375px;
  height: 768px;
  background-image: url('../images/mobile-design.jpg');
  background-repeat: no-repeat;
  opacity: 0.15;
  border: 1px solid red;
}
