// Color names from style guide

// Primary - text
$color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
$color-soft-red: hsl(14, 88%, 65%);

// Gradient - background
$color-soft-violet: hsl(273, 75%, 66%);
$color-soft-blue: hsl(240, 73%, 65%);

// Neutral - text
$color-very-dark-grayish-blue: hsl(237, 12%, 33%);
$color-dark-grayish-blue: hsl(240, 6%, 50%);

// Dividers
$color-light-grayish-blue: hsl(240, 5%, 91%);

// Color names by document geography
$clr-body-bg: $color-soft-blue;
$clr-card-bg: hsl(0, 0%, 100%);
$clr-text-primary: $color-very-dark-desaturated-blue;
$clr-text-primary-hover: $color-soft-red;
$clr-text-secondary: $color-dark-grayish-blue;
$clr-divider: $color-light-grayish-blue;

// // Gradients
$gradient-body: linear-gradient(
  180deg,
  $color-soft-violet 0%,
  $color-soft-blue 100%
);

// // Breakpoints
$breakpoint-lg: 992px;
