@use './root';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem;
  background-image: $gradient-body;
  background-repeat: no-repeat;
  background-color: $clr-body-bg;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: 100vh;
}

/* Card */
.wrapper {
  padding: 13rem 2.4rem 2.4rem;

  @media (min-width: $breakpoint-lg) {
    padding: 13rem 2.4rem 2.4rem 2.4rem;
    background-color: yellow;
  }
}

.card {
  position: relative;
  max-width: 32.7rem;
  background-color: $clr-card-bg;
  border-radius: 2.3rem;
  padding: 2.4rem;
  /* box-shadow: 0 5rem 5rem -2rem rgba(53, 18, 122, 0.497159); */

  @media (min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 92rem;
  }

  &::before {
    content: url(./../images/illustration-woman-online-mobile.svg);
    position: absolute;
    top: -10.5rem;
    left: 14%;
    right: 14%;
    max-width: 23.7rem;

    @media (min-width: $breakpoint-lg) {
      display: none;
    }
  }

  &::after {
    content: url(./../images/bg-pattern-mobile.svg);
    position: absolute;
    top: 0;
    left: 14%;
    right: 14%;
    max-width: 23.7rem;

    @media (min-width: $breakpoint-lg) {
      display: none;
    }
  }

  &__title {
    margin-top: 10rem;
    font-size: 3.2rem;
    text-align: center;
    color: $clr-text-primary;

    @media (min-width: $breakpoint-lg) {
      text-align: left;
    }
  }
}

/* FAQ list */
.accordion {
  list-style: none;

  @media (min-width: $breakpoint-lg) {
    max-width: 50%;
  }

  &-item {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $clr-divider;
  }

  &-button {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    color: $clr-text-primary;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    transition: 0.2s ease-in-out;

    &::after {
      content: url(./../images/icon-arrow-down.svg);
      position: absolute;
      top: 0.6rem;
      right: 0;
      transition: 0.2s ease-in-out;
    }

    &:hover {
      color: $clr-text-primary-hover;
    }
  }

  &-item_opened {
    & .accordion {
      &-button {
        font-weight: bold;

        &::after {
          transform: rotate(180deg);
        }
      }

      &-body {
        opacity: 1;
        max-height: max-content;
        margin-top: 1.2rem;
      }
    }
  }

  &-body {
    opacity: 0;
    max-height: 0;
    color: $clr-text-secondary;
    max-width: 95%;
    line-height: 1.5;
    transition: 0.2s ease-in-out;
  }
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;

  &__link {
    color: #fff;
  }
}
